.loginHeroForm{
  position: absolute;
  top: 10%;
  right: 22%;
  width: 35%;
  padding: 2em;
  border-radius: 1em;
  background: linear-gradient(145deg, #ffffff, #f2f5fa);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin: 0 10em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 80%;
}

.inputFields {
  width: 80%;
  height: 2.5em;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputLabel{
  width: 80%;
  font-family: "PT Serif Caption";
  font-size: 0.9em;
  margin: 0.5em 0 0.2em;
}

.errorMessage {
  color: rgb(249, 23, 23);
  text-align: center;
}

.forgotPassword {
  color: #007BAD;
  font-weight: bold;
}

.entireContainer {
  height: 100vh;
  background: linear-gradient(135deg, #00bfa5 0%, #4dd0e1 100%);
}

.forgotPassword {
  color: #007BAD;
  font-weight: bold;
}

.loginHeroForm button {
  width: 80%;
  height: 2.5em;
  background-image: linear-gradient(135deg, #00bfa5 0%, #4dd0e1 100%);;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLink {
  text-decoration: none;
  color: inherit;
}