.cardContainer {
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  text-align: center;
}

.activeTenants{
  padding: 1rem 0 0 0;
}

.inviteTenants {
  cursor: pointer;
  color: #00bfa5;
  border-top: 1px solid black;
  padding: 0 10rem;
}

.noTenants, .activeSubs {
  padding: 30px 0;
}
